body {
    background-color: lightgray;
    pad: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    max-width: 80%;
    height: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 50px;
    background-color: white;
}

#timer {

}

#intro {

}

#question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#answer {
   display: grid;
   gap: 10px;
   margin: 20px;
}

#btn {
    background-color: thistle;
    width: 250px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
}

#grade {

}

#btn:hover {
    cursor: pointer;
    background-color: pink;
}

.hide {
    display: none;
}