body {
    background-color: lightgray;
    pad: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    max-width: 80%;
    height: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 50px;
    background-color: white;
}

h1 , h3, p {
    text-align: center;
}

#start-btn {
   margin: 270px;
   position: absolute;
   -ms-transform: translateY(-780%);
   transform: translateY(-780%);
}

#timer {
 background-color: white;
 margin: 50px;
}

#question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#answer-btn {
   display: grid;
   gap: 10px;
   margin: 20px;
}

#btn {
    background-color: thistle;
    width: 250px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
}


#btn:hover {
    cursor: pointer;
    background-color: pink;
}

.hide {
    display: none;
}